table {
    border-collapse: collapse;
    
    border-radius: 10px;
  }
  th, td {
    border: 3px solid #948d8d;
    padding: 12px; 
    text-align: left; 
    background-color: hsla(0, 0%, 53%, 0.22); 
  }
body {
  background-image: url('Images/Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 250, 224);
  
}